<mat-card>
  <mat-card-header>
    <mat-card-title>Page</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <app-profil [profil]="profil" (userAction)="onPetAction($event)"></app-profil>
      </div>

      <div class="col-sm-12 col-md-9 col-lg-6 col-xl-6">
        <app-add-pet *ngIf="actionPet && actionPet.action === 'ADD_PET'" (add)="onPetToAdd($event)"></app-add-pet>
        <app-view-pet *ngIf="actionPet && actionPet.action ==='VIEW_PET'" [pet]="pet"></app-view-pet>
        <app-update-pet *ngIf="actionPet && actionPet.action==='UPDATE_PET'" [pet]="pet" (update)="onPetToAdd($event)"></app-update-pet>

        <app-add-campaign *ngIf="actionPet && actionPet.action === 'ADD_CAMPAIGN'" (add)="onCampaignToAdd($event)"></app-add-campaign>
        <app-view-campaign *ngIf="actionPet && actionPet.action === 'VIEW_CAMPAIGN'" [campaign]="campaign"></app-view-campaign>
        <app-update-campaign *ngIf="actionPet && actionPet.action === 'UPDATE_CAMPAIGN'" [campaign]="campaign" (update)="onCampaignToAdd($event)"></app-update-campaign>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        Test 2
      </div>
    </div>
  </mat-card-content>
</mat-card>