.mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.mat-raised-button[_ngcontent-c6]:not([class*=mat-elevation-z]) {
    padding: 0px !important;
}

.mat-expansion-panel-header {
    padding: 0 6px !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}
