<form [formGroup]="quickSearchForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-select placeholder="Advert type" class="form-control" formControlName="formats" multiple autofocus>
      <mat-option *ngFor="let format of avalaibleFormats" [value]="format.feature">
        {{format.feature}}
      </mat-option>
    </mat-select>
    <div *ngIf="submitted && formValues.formats.errors" class="invalid-feedback text-center">
      <div *ngIf="formValues.formats.errors.required">Format is required</div>
    </div>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Postal Code" type="text" class="form-control has-danger" formControlName="postalCode" [ngClass]="{ 'is-invalid': submitted && formValues.postalCode.errors }"
    />
    <div *ngIf="submitted && formValues.postalCode.errors" class="invalid-feedback text-center">
      <div *ngIf="formValues.postalCode.errors.required">Postal code is required</div>
    </div>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="startDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" class="btn-lg btn-block">
    <i class="fab fa-searchengin"></i> Quick Search</button>
</form>