<mat-card-content>

  <mat-select (ngModelChange)="selectedOption($event)" placeholder="You want" [(ngModel)]="favoriteSeason" class="form-control"
    multiple autofocus>
    <mat-option *ngFor="let option of optionsCampaign" [value]="option.code">
      {{option.label}}
    </mat-option>
  </mat-select>

  <mat-select placeholder="Advert type" formControlName="formats" class="form-control" multiple autofocus>
    <mat-option *ngFor="let format of filteredFormats" [value]="format">
      {{format.feature}}
    </mat-option>
  </mat-select>

  <button mat-raised-button color="primary" class="btn-lg btn-block">
    <i class="fas fa-search"></i> Search</button>

</mat-card-content>