<section>
  <p>I want</p>
  <mat-checkbox [(ngModel)]="checked">Offer</mat-checkbox>
  <mat-checkbox [(ngModel)]="indeterminate">Request</mat-checkbox>
</section>

<section>
  <p>Format</p>
  <mat-checkbox [(ngModel)]="checked">Checked</mat-checkbox>
  <mat-checkbox [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
</section>

<section>
  <p>Specie</p>
  <mat-checkbox [(ngModel)]="checked">Checked</mat-checkbox>
  <mat-checkbox [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
</section>

<section>
  <p>Date</p>
  <mat-checkbox [(ngModel)]="checked">Checked</mat-checkbox>
  <mat-checkbox [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
</section>

<section>
  <p>Lof</p>
  <mat-checkbox [(ngModel)]="checked">Checked</mat-checkbox>
  <mat-checkbox [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
</section>