.mat-form-field {
    width: 100%;
  }

.mat-select {
    border: hidden !important;
}

.mat-badge {
    position: absolute !important;
}

.color-blue-bck-color {
	background-color: #fafafa !important;
}

